@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Roboto';
    text-decoration: none;
    box-sizing: border-box;
}

.header {
    display: flex;
    padding: 24px 450px;
    background-color: #1f2937;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    font-size: 18px;
    display: flex;
    margin-left: auto;
    gap: 20px;
}

a {
    color: #e5e7eb;
}

.hero {
    display: flex;
    background-color: #1f2937;
    padding: 100px 450px;
    justify-content: space-between;
    gap: 50px;
}

.text h1 {
    font-size: 48px;
    color: #f9faf8;
    margin-bottom: 12px;
}

.text p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
}

.hero img {
    width: 500px;
}

button {
    padding: 6px 20px;
    font-size: 18px;
    color: #f9faf8;
    background-color: #3882f6;
    border: 0px;
    border-radius: 4px;
}

.info h2 {
    font-size: 36px;
    color: #1f2937;
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

.bubbles {
    display: flex;
    justify-content: center;
    gap: 42px;
}

.bubble {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bubble img {
    border: 3px solid #3882f6;
    border-radius: 8px;
    width: 200px;
    height: 150px;
}

.bubble p {
    width: 200px;
    height: 150px;
    padding-top: 5px;
    text-align: center;
    color: #5a5c5e;
}